<!DOCTYPE HTML>


<h3 style="margin-bottom: 15px">What Are We Up To?</h3>

<div class="row" style="background-color: transparent">
  <div class="col-sm-12 col-md-12 col-lg-12" style="background-color: transparent">
    <div class="thumbnail" style="background-color: transparent">
      <img src="/images/kickstarter.png" alt="kickstarter" style="margin-top: 35px" style="background-color: transparent"> 
      <div class="caption">
        <h3>Studio Kickstarter</h3 style="background-color: transparent">
        <p style="background-color: transparent">We're opening up a studio! A teaching studio! We decided we would like a place that people know they can go to if they want to learn more about music. We also want college students to have an opportunity to learn how to teach. We put the two together and created a safe, and exciting learning environment for Greeley, Colorado. But we need your help!</p>
        <p><a href="http://www.kickstarter.com" class="btn btn-primary" role="button">Check It Out</a>
      </div>
    </div>
  </div>
</div>

