<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lines and Dots</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
<!img alt="home" src="images/home.png" width="200" height"200">
<!img alt="Brand" src="images/top_left_logo.png" width="600" height="200">

    <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/"><img style="margin-top: 7px" alt="Brand" src="/images/top_left_logo_studio.png" width="370" height="130" class="img-responsive" alt="Responsive image"></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	      <style>
			@media screen and (max-width: 910px)  {
				.navbar-nav {
					display: none;
				}
			}
			@media screen and (min-width: 911px) {
				.nav-tabs {
					display: none;
				}

			}

		  </style>

	      <ul class="nav navbar-nav">
	        	<li class="active">
              <a href="/studio"><img style="position:absolute; left:-5px;" alt="home" src="/images/homestudio.png" width="140" height"140" class="img-responsive" alt="Responsive image"><span class="sr-only">(current)</span></a></li>
              <a href="/aboutstudio"><img style="position:absolute; left:507px; bottom:2px;" alt="about" src="/images/aboutstudio.png" width="140" height="140" class="img-responsive" alt="Responsive image"></a>
              <a href="/peoplestudio"><img style="position:absolute; left:638px; bottom:2px;" alt="people" src="/images/peoplestudio.png" width="140" height="140" class="img-responsive" alt="Responsive image"></a>
              <a href="/contactstudio"><img style="position:absolute; left:770px; bottom:2px;" alt="contact" src="/images/contactstudio.png" width="140" height="140" class="img-responsive" alt="Responsive image"></a>
            </ul>
          </li>
        </ul>

		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#">Contact</a></li>
		  <li role="presentation"><a href="#">People</a></li>
		  <li role="presentation"><a href="#">About</a></li>
		  <li role="presentation"><a href="#">Home</a></li>
		</ul>

	  </div><!-- /.container-fluid -->
	</nav>
    <div class="container">

	  </div><!-- /.container-fluid -->
	</nav>
    <div class="container">