{% include studioheader.html %}

{% include footer.html %}
 <style>
body {
    background-image: url("/images/background.png");
	background-size: 100%;
}
</style>
<div class="conatiner">
	<div class="row-fluid">
  		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="border: 3px solid" style="border-color: rgba(20,20,20,0.95)" >

        {% include sidebar.html %}

  		</div>
	</div>
</div>
<div class="conatiner">
	<div class="row-fluid">
		<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12" style="border: 3px solid" style="border-color: rgba(20,20,20,0.95)">
			{{content}}
		</div>
	</div>
</div>